
@{

}
<div class="row">
    <button type="button" class="btn btn-default" onclick="javascript:window.history.go(-1);">
        &lt;&lt;返回
    </button>
    <div class="span12">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>
                        参数
                    </th>
                    <th>
                        耗时
                    </th>
                    <th>
                        创建时间
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="m in testManagers" :class="m.callState?'success':''">
                    <td>
                        {{m.parament}}
                    </td>
                    <td>
                        {{m.take}}
                    </td>
                    <td>
                        {{m.createTime}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript" language="javascript">

    function GetRequest() {
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") !== -1) {
            var str = url.substr(1);
            var strs = str.split("&");
            for (var i = 0; i < strs.length; i++) {
                theRequest[strs[i].split("=")[0]] = (strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }

    $(function () {
        $.ajax({
            url: "/api/services/app/TestManager/GetAll",
            data: JSON.stringify({ pageSize: 20, id: GetRequest()["id"] }),
            type: "post",
            dataType: "json",
            contentType: "application/json",
            success: function (data) {
                console.log(data);
                var result = data.result.items;
                for (var index = 0; index < result.length; index++) {
                    result[index]["parament"] = JSON.stringify(result[index]["parament"]);
                    result[index]["createTime"] = new Date(result[index]["createTime"]).toLocaleString();
                }
                model.testManagers = result;
            },
            error: function (e, r) {
                console.log(e, r);
            }
        });
    });

    var model = {
        testManagers: {}
    };

    var vue = new Vue({
        el: "#parent",
        data: model
    });

</script>
