@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="http://script.e2e100.com/ApiManager/bootstrap.css" rel="stylesheet" />
    <script src="http://script.e2e100.com/ApiManager/jquery-3.1.0.min.js"></script>
    <script src="http://script.e2e100.com/ApiManager/ApiManager/bootstrap.min.js"></script>
    <script src="http://script.e2e100.com/ApiManager/ApiManager/vue.min.js"></script>
    <script src="~/Scripts/CloudPlatform/ApiHelper.js"></script>
    <script src="/api/CloudHelper/JavascriptHelper"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" id="parent">
                <div class="row">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                            </button> <a class="navbar-brand" href="/ApiManager/Manager/List">首页</a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                @*<li class="active">
                                    <a href="/ApiManager/Manager/List">列表</a>
                                </li>*@
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">监控<strong class="caret"></strong></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="/apimanager/ExceptionManager/Index">错误日志</a>
                                        </li>
                                        <li class="divider">
                                        </li>
                                        <li>
                                            <a href="/apimanager/NetMonitorEntity/Index">审计日志</a>
                                        </li>
                                        <li class="divider">
                                        </li>
                                        <li>
                                            <a href="/apimanager/NetMonitorEntity/SqlServer">数据库语句</a>
                                        </li>
                                        <li class="divider">
                                        </li>
                                        <li>
                                            <a href="#">Wiki</a>
                                        </li>
                                    </ul>
                                </li>
                                @*<li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">编写<strong class="caret"></strong></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">CodeBuildManager</a>
                                        </li>
                                        <li class="divider">
                                        </li>
                                        <li>
                                            <a href="#">SQL</a>
                                        </li>
                                        <li class="divider">
                                        </li>
                                        <li>
                                            <a href="#">LuaScript</a>
                                        </li>
                                        <li class="divider">
                                        </li>
                                        <li>
                                            <a href="#">帮助</a>
                                        </li>
                                        <li class="divider">
                                        </li>
                                        <li>
                                            <a href="#">Wiki</a>
                                        </li>
                                    </ul>
                                </li>*@
                            </ul>
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <input type="text" onkeyup="onchanges()" v-model="searchKey" class="form-control" placeholder="Search" />
                                </div>
                            </form>
                            @*<ul class="nav navbar-nav navbar-right">
                                    <li>
                                        <a href="#">登陆</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">帮助文档<strong class="caret"></strong></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="#">Wiki</a>
                                            </li>
                                            <li>
                                                <a href="#">说明</a>
                                            </li>
                                            <li>
                                                <a href="#">联系我们</a>
                                            </li>
                                            <li class="divider">
                                            </li>
                                            <li>
                                                <a href="#">Separated link</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>*@
                        </div>
                    </nav>
                </div>
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html> 