
@{
    ViewBag.Title = "Details";
    string detailsUrl = ViewBag.detailsUrl as string;
}
<div class="row" id="edit">
    <h4 class="text-center">
        {{namespace.display}} ({{namespace.name}})
    </h4>
    <form role="form">
        <div v-for="node in namespace.Details" class="form-group">
            <label :for="node.name">
                {{node.display}} ({{node.name}})
            </label>
            <input :value="node.display" v-bind:type="node.type" class="form-control data-bind" :id="node.name" :placeholder="node.type" />
        </div>
    </form>

</div>

<script type="text/javascript" language="javascript">
    function GetRequest() {
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") !== -1) {
            var str = url.substr(1);
            var strs = str.split("&");
            for (var i = 0; i < strs.length; i++) {
                theRequest[strs[i].split("=")[0]] = (strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }

    $(function () {
        $.ajax({
            url: "@detailsUrl",
            data: { input: GetRequest()["url"] },
            type: "Get",
            dataType: "json",
            success: function (data) {
                model.namespace = data.result;
            },
            error: function (e, r) {
                console.log(e, r);
            }
        });
    });

    var model = {
        namespace: new Array(),
        state: 0,
        result: "",
        take: 0,
        postAjax: ""
    }
    var first = true;
    var vue = new Vue({
        el: "#parent",
        data: model
    }); 

</script>
