
@{
    ViewBag.Title = "Details";
    string detailsUrl = ViewBag.detailsUrl as string;
}
<div class="row" id="edit">
    <h4 class="text-center">
        {{display}} ({{name}})
    </h4>
    <form role="form">
        <div v-for="node in details" class="form-group">
            <label :for="node.name">
                {{node.name}}
            </label>
            <input v-if="node.type=='Input'" :value="node.display" class="form-control data-bind" :id="node.name" />
            <div v-if="node.type=='MaxText'" class="row">
                <textarea rows="8" v-model="node.display" class="form-control" readonly="readonly"></textarea>
            </div>
        </div>
    </form>

</div>

<script type="text/javascript" language="javascript">
    function GetRequest() {
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") !== -1) {
            var str = url.substr(1);
            var strs = str.split("&");
            for (var i = 0; i < strs.length; i++) {
                theRequest[strs[i].split("=")[0]] = (strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }


    @(detailsUrl)(GetRequest()["url"], function (data) {
        model.display = data.display;
        model.name = data.name;
        model.details = data.details;
    });

    var model = {
        details: new Array(),
        display: "",
        name: ""
    }
    var first = true;
    var vue = new Vue({
        el: "#parent",
        data: model
    });

</script>
