
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="media well">
        <a href="#" class="pull-left"><img style="width: 40px" alt="Bootstrap Media Preview" src="http://cloudjavascript.oss-cn-beijing.aliyuncs.com/ApiCloud/img/48.png" class="media-object" /></a>
        <div class="media-body">
            <h4 class="media-heading">
                Nested media heading
            </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
            <div class="media">
                <a href="#" class="pull-left"><img style="width: 40px" alt="Bootstrap Media Another Preview" src="http://cloudjavascript.oss-cn-beijing.aliyuncs.com/ApiCloud/img/48.png" class="media-object" /></a>
                <div class="media-body">
                    <h4 class="media-heading">
                        Nested media heading
                    </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                </div>
            </div>
        </div>
    </div>
</div>