
@{
    ViewBag.Title = "List";
}
<script src="~/Scripts/vue.min.js"></script>
<div class="row">
    <div class="panel-group" id="panel-655605">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-655605" href="#panel-element-432164">后台管理</a>
            </div>
            <div id="panel-element-432164" class="panel-collapse collapse">
                <div class="panel-body">
                    Anim pariatur cliche...
                </div>
                <div class="panel-body">
                    Anim pariatur cliche...
                </div>
                <div class="panel-body">
                    Anim pariatur cliche...
                </div>
                <div class="panel-body">
                    Anim pariatur cliche...
                </div>
                <div class="panel-body">
                    Anim pariatur cliche...
                </div>
                <div class="panel-body">
                    Anim pariatur cliche...
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-655605" href="#panel-element-7638041">权限管理</a>
            </div>
            <div id="panel-element-7638041" class="panel-collapse collapse">
                <div class="panel-body">
                    Anim pariatur cliche...
                </div>
                <div class="panel-body">
                    Anim pariatur cliche...
                </div>
                <div class="panel-body">
                    Anim pariatur cliche...
                </div>
                <div class="panel-body">
                    Anim pariatur cliche...
                </div>
                <div class="panel-body">
                    Anim pariatur cliche...
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-655605" href="#panel-element-7638042">系统管理</a>
            </div>
            <div id="panel-element-7638042" class="panel-collapse collapse">
                <div class="panel-body">
                    Anim pariatur cliche...
                </div>
                <div class="panel-body">
                    Anim pariatur cliche...
                </div>
                <div class="panel-body">
                    Anim pariatur cliche...
                </div>
                <div class="panel-body">
                    Anim pariatur cliche...
                </div>
                <div class="panel-body">
                    Anim pariatur cliche...
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-655605" href="#panel-element-7638043">角色管理</a>
            </div>
            <div id="panel-element-7638043" class="panel-collapse collapse">
                <div class="panel-body">
                    Anim pariatur cliche...
                </div>
                <div class="panel-body">
                    Anim pariatur cliche...
                </div>
                <div class="panel-body">
                    Anim pariatur cliche...
                </div>
                <div class="panel-body">
                    Anim pariatur cliche...
                </div>
                <div class="panel-body">
                    Anim pariatur cliche...
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

</script>